.breadcrumbs-page {
    position: relative;
    z-index: 5;
    
    .breadcrumbs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;

        .breadcrumbs-item {
            display: flex;
            align-items: center;
            gap: 8px;

            &:not(:last-child) {
                &::after {
                    content: "/";
                    display: inline-block;
                    flex: 0 0 auto;
                    font-family: $mainFont;
                    font-weight: 400;
                    line-height: 1.22;
                    font-size: 18px;
                    letter-spacing: -0.03em;
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            a,
            span {
                font-family: $mainFont;
                font-weight: 400;
                line-height: 1.22;
                font-size: 18px;
                letter-spacing: -0.03em;
                color: rgba(255, 255, 255, 0.5);
            }

            a {
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;
                position: relative;
                z-index: 2;

                @include link-hover-underline(#fff);
            }

            span {
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .breadcrumbs-page {
        margin-bottom: vwB(50px);

        .breadcrumbs {
            gap: vwB(8px);

            .breadcrumbs-item {
                gap: vwB(8px);

                &:not(:last-child) {
                    &::after {
                        font-size: vwB(18px);
                    }
                }

                a,
                span {
                    font-size: vwB(18px);
                }
            }
        }
    }
}

@include maxw($desktop) {
    .breadcrumbs-page {
        margin-bottom: vwD(50px);

        .breadcrumbs {
            gap: vwD(8px);

            .breadcrumbs-item {
                gap: vwD(8px);

                &:not(:last-child) {
                    &::after {
                        font-size: vwD(18px);
                    }
                }

                a,
                span {
                    font-size: vwD(18px);
                }
            }
        }
    }
}

@include maxw($mobile) {
    .breadcrumbs-page {
        margin-bottom: vwM(50px);

        .breadcrumbs {
            gap: vwM(8px);

            .breadcrumbs-item {
                gap: vwM(8px);

                &:not(:last-child) {
                    &::after {
                        line-height: 1.18;
                        font-size: vwM(16px);
                        letter-spacing: -0.02em;
                    }
                }

                a,
                span {
                    line-height: 1.18;
                    font-size: vwM(16px);
                    letter-spacing: -0.02em;
                }
            }
        }
    }
}