.about {
    position: relative;
    z-index: 2;
    padding-top: 780px;
    margin-top: -780px;
    .about__dec {
        padding-top: 780px;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        span {
            display: block;
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -779px;
                right: -652px;
                width: 1119px;
                height: 1224px;
                background: url(../images/shadow-15.webp) no-repeat center / cover;
            }
        }
    }
    .about__inner {
        padding: 140px 0;
    }
    .about__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
    }
    .about__side {
        position: sticky;
        top: 150px;
        width: 512px;
    }
    .about__title {
        margin-bottom: 50px;
    }
    .about__text {
        margin-bottom: 40px;
        .text p {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .about__navigation {
        width: 376px;
    }
    .about__main {
        width: 892px;
    }
    .about__caption {
        margin-bottom: 28px;
    }
    .about__header {
        margin-bottom: 50px;
        .about__title {
            margin-bottom: 28px;
        }
        .about__text {
            margin-bottom: 0;
        }
    }
    .about__list {
        .item {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 36px;
            margin-top: 28px;
            &:first-child {
                margin-top: 0;
            }
        }
        .item-gallery,
        .location-switcher {
            margin-top: 40px;
        }
        .location-switcher + .item-text,
        .item-gallery + .item-text {
            margin-top: 40px;
        }
        .item-text {
            .is-note {
                color: rgba(255, 255, 255, 0.5);
            }
            h3 + .is-note {
                margin-top: -20px;
            }
            h4.is-icon {
                position: relative;
                z-index: 2;
                padding-left: 40px;
                &::before {
                    content: "";
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 28px;
                    height: 32px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='32' fill='none' viewBox='0 0 28 32'%3E%3Cpath fill='%23da1f26' fill-rule='evenodd' d='M24.05 19.119c-1.633-.743-3.096-.013-4.03-.241C16.501 14.148 16.632 4.16 12.022 1c-.699.371.283 2.43.546 3.818-.046.463-3.135 2.997-1.1 4.658-1.627 1.48-2.839 1.838-3.135 3.408-.586 3.108 1.858 6.73 2.351 10.887-1.244 2.58-7.074 3.323-8.543 4.352-.158.11-.184.332-.079.495.534.815.936 1.577 1.416 2.163a.594.594 0 0 0 .81.105c2.372-1.76 4.42-4.268 7.694-4.216 2.582.046 5.283.339 9.15-1.857 1.317-.749 4.228-4.28 4.867-5.499-.507-.71-.962.248-1.95-.201z' clip-rule='evenodd'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
    &.is-residences {
        padding-top: 0;
        margin-top: 0;
        .about__inner {
            padding: 140px 0 0;
        }
        .about__wrapper {
            display: grid;
            grid-template-columns: 505px 892px;
            grid-template-areas:
                "caption header"
                "side main";
            justify-content: space-between;
            align-items: start;
            column-gap: 30px;
            row-gap: 0;
        }
        .about__caption {
            grid-area: caption;
            margin-bottom: 72px;
        }
        .about__header {
            grid-area: header;
            margin-bottom: 60px;
        }
        .about__side {
            grid-area: side;
            position: sticky;
            top: 150px;
            width: 505px;
        }
        .about__navigation {
            width: 100%;
        }
        .about__main {
            grid-area: main;
            width: 892px;
        }
        .about__list {
            .item {
                .item-text + .location-switcher,
                .item-text + .item-gallery {
                    margin-top: 24px;
                }
                .location-switcher {
                    margin-top: 24px;
                }
            }
        }
    }
    &.is-clinical {
        padding-top: 0;
        margin-top: 0;
        .about__inner {
            padding: 140px 0;
        }
        .about__side {
            width: 505px;
        }
        .about__caption {
            margin-bottom: 28px;
        }
        .about__title {
            margin-bottom: 28px;
        }
        .about__text {
            margin-bottom: 40px;
        }
        .about__navigation {
            width: 376px;
        }
        .about__list {
            .item {
                border-color: rgba(255, 255, 255, 0.16);
                .item-text + .item-gallery {
                    margin-top: 24px;
                }
            }
        }
    }
}
@include maxw($desktop) {
    .about {
        padding-top: vwD(780px);
        margin-top: vwD(-780px);
        .about__dec {
            padding-top: vwD(780px);
            span {
                max-width: vwD(1920px);
                &::before {
                    top: vwD(-779px);
                    right: vwD(-652px);
                    width: vwD(1119px);
                    height: vwD(1224px);
                }
            }
        }
        .about__inner {
            padding: vwD(140px) 0;
        }
        .about__wrapper {
            gap: vwD(30px);
        }
        .about__side {
            top: vwD(150px);
            width: vwD(512px);
        }
        .about__title {
            margin-bottom: vwD(50px);
        }
        .about__text {
            margin-bottom: vwD(40px);
        }
        .about__navigation {
            width: vwD(376px);
        }
        .about__main {
            width: vwD(892px);
        }
        .about__caption {
            margin-bottom: vwD(28px);
        }
        .about__header {
            margin-bottom: vwD(50px);
            .about__title {
                margin-bottom: vwD(28px);
            }
        }
        .about__list {
            .item {
                border-radius: vwD(10px);
                padding: vwD(36px);
                margin-bottom: vwD(28px);
            }
            .item-gallery,
            .location-switcher {
                margin-top: vwD(40px);
            }
            .location-switcher + .item-text,
            .item-gallery + .item-text {
                margin-top: vwD(40px);
            }
            .item-text {
                h3 + .is-note {
                    margin-top: vwD(-20px);
                }
                h4.is-icon {
                    padding-left: vwD(40px);
                    &::before {
                        width: vwD(28px);
                        height: vwD(32px);
                    }
                }
            }
        }
        &.is-residences {
            padding-top: 0;
            margin-top: 0;
            .about__inner {
                padding: vwD(140px) 0 0;
            }
            .about__wrapper {
                grid-template-columns: vwD(505px) vwD(892px);
                column-gap: vwD(30px);
            }
            .about__caption {
                margin-bottom: vwD(72px);
            }
            .about__header {
                margin-bottom: vwD(60px);
            }
            .about__side {
                top: vwD(150px);
                width: vwD(505px);
            }
            .about__navigation {
                width: 100%;
            }
            .about__main {
                width: vwD(892px);
            }
            .about__list {
                .item {
                    .item-text + .location-switcher,
                    .item-text + .item-gallery {
                        margin-top: vwD(24px);
                    }
                    .location-switcher {
                        margin-top: vwD(24px);
                    }
                }
            }
        }
        &.is-clinical {
            padding-top: 0;
            margin-top: 0;
            .about__inner {
                padding: vwD(140px) 0;
            }
            .about__side {
                width: vwD(505px);
            }
            .about__caption {
                margin-bottom: vwD(28px);
            }
            .about__title {
                margin-bottom: vwD(28px);
            }
            .about__text {
                margin-bottom: vwD(40px);
            }
            .about__navigation {
                width: vwD(376px);
            }
            .about__list {
                .item {
                    .item-text + .item-gallery {
                        margin-top: vwD(24px);
                    }
                }
            }
        }
    }
}
@include maxw($mobile) {
    .about {
        padding-top: 0;
        margin-top: 0;
        .about__dec {
            display: none;
        }
        .about__inner {
            padding: 0 0 vwM(100px);
        }
        .about__wrapper {
            display: block;
        }
        .about__side {
            position: static;
            width: 100%;
        }
        .about__title {
            margin-bottom: vwM(48px);
            text-align: center;
        }
        .about__text {
            margin-bottom: vwM(40px);
            text-align: left;
        }
        .about__navigation {
            width: 100%;
        }
        .about__main {
            width: 100%;
            margin-top: vwM(40px);
        }
        .about__caption {
            margin-bottom: vwM(28px);
            text-align: center;
        }
        .about__header {
            margin-bottom: vwM(44px);
            text-align: center;
            .about__title {
                margin-bottom: vwM(8px);
            }
            .about__text {
                margin-top: vwM(28px);
                margin-bottom: 0;
                text-align: left;
            }
        }
        .about__list {
            .item {
                border-radius: vwM(10px);
                padding: vwM(32px) vwM(24px);
                margin-bottom: vwM(28px);
            }
            .item-gallery,
            .location-switcher {
                margin-top: vwM(32px);
            }
            .location-switcher + .item-text,
            .item-gallery + .item-text {
                margin-top: vwM(32px);
            }
            .item-text {
                .is-note {
                    font-size: vwM(14px);
                }
                h3 + .is-note {
                    margin-top: vwM(-12px);
                }
                h4.is-icon {
                    padding-left: vwM(40px);
                    &::before {
                        width: vwM(28px);
                        height: vwM(32px);
                    }
                }
            }
        }
        &.is-residences {
            .about__inner {
                padding: 0 0 vwM(100px);
            }
            .about__wrapper {
                display: flex;
                flex-direction: column;
                gap: 0;
            }
            .about__caption {
                margin-bottom: vwM(8px);
                text-align: center;
            }
            .about__header {
                margin-bottom: vwM(44px);
            }
            .about__side {
                position: static;
                width: 100%;
                margin-top: 0;
            }
            .about__main {
                width: 100%;
                margin-top: vwM(36px);
            }
            .about__list {
                .item {
                    .item-text + .location-switcher,
                    .item-text + .item-gallery,
                    .location-switcher {
                        margin-top: vwM(24px);
                    }
                }
            }
        }
        &.is-clinical {
            .about__inner {
                padding: 0 0 vwM(100px);
            }
            .about__caption {
                margin-bottom: vwM(8px);
            }
            .about__title {
                margin-bottom: 0;
            }
            .about__text {
                margin-top: vwM(28px);
                margin-bottom: vwM(44px);
            }
            .about__main {
                margin-top: vwM(36px);
            }
            .about__list {
                .item {
                    .item-text + .item-gallery {
                        margin-top: vwM(24px);
                    }
                }
            }
        }
    }
}
