.education {
    position: relative;
    z-index: 3;
    overflow: hidden;

    &.is-light {
        background: #F4EFE7;
        overflow: visible;

        .education__inner {
            padding: 70px 0;
        }

        .education__top {
            display: block;
            text-align: center;
        }

        .education__caption {
            margin-top: 0;
            margin-bottom: 28px;

            .site-caption {
                color: rgba(1, 9, 11, 0.5);
            }
        }

        .education__title {
            .title {
                color: #01090B;
            }
        }

        .education__list .item {
            background: #FFFFFF;
            border: 1px solid rgba(1, 9, 11, 0.3);

            &.is-current {
                background: #FFFFFF;
            }
        }
    }

    .education__inner {
        padding: 70px 0;
        will-change: filter;
    }

    .education__top {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .education__caption {
        margin-top: 21px;
    }

    .education__title {}

    .education__list {
        display: flex;
        align-items: stretch;
        gap: 10px;

        .item {
            position: relative;
            z-index: 2;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            min-width: 0;
            height: auto;
            overflow: hidden;
            border-radius: 8px;
            background: #01090B;
            cursor: pointer;
            transition:
                flex-grow 0.65s linear,
                flex-basis 0.65s linear,
                background-color 0.55s linear;

            &.is-current {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 763px;
                background: #F4EFE7;

                .item-media {
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.55s linear;
                }

                .item-content {
                    opacity: 1;
                }
            }
        }

        .item-media {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            max-width: 377px;
            height: auto;
            padding: 22px 26px;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            transition: opacity 0.65s linear;

            .item-media__image {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1.02);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(191.34deg, rgba(0, 0, 0, 0) 23.24%, rgba(0, 0, 0, 0.6) 92.38%);
                }
            }

            .item-media__title {
                font-weight: 400;
                line-height: 1.22;
                font-size: 22px;
                letter-spacing: -0.02em;
                color: #FFFFFF;
            }
        }

        .item-content {
            width: 100%;
            height: 100%;
        }

        .item-content__wrapper {
            width: 763px;
            height: 100%;
            min-height: 450px;
            padding: 36px;
            display: flex;
            flex-direction: column;
            background-color: transparent;
        }

        .item-title {
            font-weight: 400;
            line-height: 1.1;
            font-size: 32px;
            letter-spacing: -0.03em;
            color: #01090B;
        }

        .item-text {
            margin-top: 24px;
        }

        .item-button {
            margin-top: auto;
        }

        .item-image {
            display: none;
        }
    }

    .education__list-mobile {
        display: none;
    }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .education {
        &.is-light {

            .education__inner {
                padding: vwB(70px) 0;
            }

            .education__caption {
                margin-bottom: vwB(28px);
            }

        }

        .education__inner {
            padding: vwB(70px) 0;
        }

        .education__top {
            margin-bottom: vwB(50px);
            grid-gap: vwB(10px);
        }

        .education__caption {
            margin-top: vwB(21px);
        }

        .education__list {
            gap: vwB(10px);

            .item {
                border-radius: vwB(8px);

                &.is-current {
                    flex-basis: vwB(763px);
                }
            }

            .item-media {
                max-width: vwB(377px);
                padding: vwB(22px) vwB(26px);

                .item-media__title {
                    font-size: vwB(22px);
                }
            }

            .item-content__wrapper {
                width: vwB(763px);
                min-height: vwB(450px);
                padding: vwB(36px);
            }

            .item-title {
                font-size: vwB(32px);
            }

            .item-text {
                margin-top: vwB(24px);
            }
        }
    }
}

@include maxw($desktop) {
    .education {
        &.is-light {

            .education__inner {
                padding: vwD(70px) 0;
            }

            .education__caption {
                margin-bottom: vwD(28px);
            }

        }

        .education__inner {
            padding: vwD(70px) 0;
        }

        .education__top {
            margin-bottom: vwD(50px);
            grid-gap: vwD(10px);
        }

        .education__caption {
            margin-top: vwD(21px);
        }

        .education__list {
            gap: vwD(10px);

            .item {
                border-radius: vwD(8px);

                &.is-current {
                    flex-basis: vwD(763px);
                }
            }

            .item-media {
                max-width: vwD(377px);
                padding: vwD(22px) vwD(26px);

                .item-media__title {
                    font-size: vwD(22px);
                }
            }

            .item-content__wrapper {
                width: vwD(763px);
                min-height: vwD(450px);
                padding: vwD(36px);
            }

            .item-title {
                font-size: vwD(32px);
            }

            .item-text {
                margin-top: vwD(24px);
            }
        }
    }
}

@include maxw($mobile) {
    .education {

        &.is-light {
            .education__inner {
                padding: vwM(50px) 0;
            }

            .education__caption {
                margin-bottom: vwM(8px);
            }

        }

        .education__inner {
            padding: vwM(50px) 0;
        }

        .education__top {
            display: block;
            text-align: center;
            margin-bottom: vwM(48px);
        }

        .education__caption {
            margin-top: vwM(8px);
        }

        .education__list {
            display: none;
        }

        .education__list-mobile {
            display: block;

            .item {
                padding: vwM(24px) vwM(16px);
                background: rgba(244, 239, 231, 0.06);
                border: 1px solid rgba(244, 239, 231, 0.5);
                border-radius: vwM(8px);
                transition: all .3s linear;

                &:not(:first-child) {
                    margin-top: vwM(8px);
                }

                &.is-open {
                    background-color: #F4EFE7;
                    border-color: #F4EFE7;

                    .item-title {
                        padding-left: vwM(35px);
                        color: #01090B;

                        &::after {
                            transform: rotateX(180deg);
                            opacity: 0;
                        }

                        &::before {
                            opacity: 1;
                            transition-delay: 0.2s;
                        }
                    }
                }
            }

            .item-title {
                font-weight: 400;
                line-height: 1.2;
                font-size: vwM(20px);
                letter-spacing: -0.03em;
                color: #FFFFFF;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: vwM(12px);
                transition: all .3s linear;
                position: relative;
                z-index: 2;

                &::after {
                    content: "";
                    display: inline-block;
                    flex: 0 0 auto;
                    width: vwM(12px);
                    height: vwM(7px);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' fill='none' viewBox='0 0 12 7'%3E%3Cpath fill='%23fff' d='M11.705.295a1 1 0 0 1 0 1.418L6.708 6.705a1 1 0 0 1-1.418 0L.296 1.713a1 1 0 0 1 0-1.418 1 1 0 0 1 1.418 0L6 4.588 10.286.295a1 1 0 0 1 1.418 0'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all .3s linear;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: vwM(21px);
                    height: vwM(27px);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='27' fill='none' viewBox='0 0 21 27'%3E%3Cpath fill='%23da1f26' fill-rule='evenodd' d='M19.294 15.854c-1.43-.65-2.709-.011-3.527-.21C12.689 11.503 12.804 2.763 8.77 0c-.611.325.248 2.126.478 3.34-.04.405-2.743 2.623-.962 4.077-1.424 1.294-2.484 1.607-2.744 2.981-.513 2.72 1.626 5.89 2.058 9.526-1.09 2.258-6.19 2.908-7.476 3.809-.138.097-.16.29-.069.433.467.713.819 1.38 1.24 1.893a.52.52 0 0 0 .708.09c2.075-1.538 3.868-3.733 6.732-3.688 2.26.04 4.623.297 8.006-1.624 1.152-.656 3.7-3.746 4.259-4.812-.444-.621-.841.217-1.706-.177z' clip-rule='evenodd'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: all .3s linear;
                }
            }

            .item-wrapper {
                display: none;
            }

            .item-content {
                padding-top: vwM(28px);
            }

            .item-text {}

            .item-button {
                width: 100%;
                margin-top: vwM(24px);

                .default-button {
                    width: 100%;
                }
            }

            .item-image {
                width: 100%;
                height: vwM(318px);
                border-radius: vwM(8px);
                overflow: hidden;
                margin-top: vwM(24px);
                position: relative;
                z-index: 2;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(191.34deg, rgba(0, 0, 0, 0) 23.24%, rgba(0, 0, 0, 0.6) 92.38%);
                }
            }
        }

        &.is-light {
            .education__inner {
                padding: vwM(80px) 0 vwM(100px);
            }

            .education__caption {
                margin-top: 0;
                margin-bottom: vwM(16px);
            }

            .education__list-mobile {
                .item {
                    background: #FFFFFF;
                    border: 1px solid rgba(1, 9, 11, 0.3);

                    &.is-open {
                        background-color: #FFFFFF;
                        border-color: rgba(1, 9, 11, 0.3);
                    }
                }

                .item-title {
                    color: #01090B;

                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' fill='none' viewBox='0 0 12 7'%3E%3Cpath fill='%2301090B' d='M11.705.295a1 1 0 0 1 0 1.418L6.708 6.705a1 1 0 0 1-1.418 0L.296 1.713a1 1 0 0 1 0-1.418 1 1 0 0 1 1.418 0L6 4.588 10.286.295a1 1 0 0 1 1.418 0'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }
}