.our-programs {
    position: relative;
    z-index: 3;
    padding-top: 500px;
    margin-top: -500px;

    &.no-shadow{
        padding: 0;
        margin: 0;
        .our-programs__dec{
            display: none;
        }
    }

    .our-programs__dec {
        padding-top: 500px;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        span {
            display: block;
            width: 100%;
            height: 100%;
            max-width: 1920px;
            margin: 0 auto;
            position: relative;
            z-index: 2;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -498px;
                right: -647px;
                width: 1003px;
                height: 1098px;
                background: url(../images/shadow-16.webp) no-repeat center / contain;
            }

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 573px;
                left: -396px;
                width: 792px;
                height: 866px;
                background: url(../images/shadow-13.webp) no-repeat center / contain;
            }
        }
    }

    .our-programs__inner {
        padding: 70px 0;
    }

    .our-programs__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 82px;
    }

    .our-programs__content {
        position: sticky;
        top: 150px;
        width: 100%;
        max-width: 691px;
        margin-top: 8px;
    }

    .our-programs__content-caption {
        margin-bottom: 28px;
    }

    .our-programs__content-title {}

    .our-programs__content-text {
        margin-top: 28px;
    }

    .our-programs__content-button {
        margin-top: 40px;
    }

    .our-programs__list {
        width: 100%;
        max-width: 793px;

        .item {
            border: 1px solid rgba(255, 255, 255, 0.16);
            border-radius: 8px;
            padding: 32px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        .item-title {
            font-weight: 400;
            line-height: 1.22;
            font-size: 22px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
        }

        .item-heading {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .item-icon {
            width: 28px;
            height: 32px;
            flex: 0 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }

        .item-text {
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .our-programs {
        padding-top: vwB(500px);
        margin-top: vwB(-500px);

        .our-programs__dec {
            padding-top: vwB(500px);

            span {
                max-width: vwB(1920px);

                &::before {
                    top: vwB(-498px);
                    right: vwB(-647px);
                    width: vwB(1003px);
                    height: vwB(1098px);
                }

                &::after {
                    top: vwB(573px);
                    left: vwB(-396px);
                    width: vwB(792px);
                    height: vwB(866px);
                }
            }
        }

        .our-programs__inner {
            padding: vwB(70px) 0;
        }

        .our-programs__wrapper {
            gap: vwB(82px);
        }

        .our-programs__content {
            top: vwB(150px);
            max-width: vwB(691px);
            margin-top: vwB(8px);
        }

        .our-programs__content-caption {
            margin-bottom: vwB(28px);
        }

        .our-programs__content-text {
            margin-top: vwB(28px);
        }

        .our-programs__content-button {
            margin-top: vwB(40px);
        }

        .our-programs__list {
            max-width: vwB(793px);

            .item {
                border-radius: vwB(8px);
                padding: vwB(32px);

                &:not(:first-child) {
                    margin-top: vwB(20px);
                }
            }

            .item-title {
                font-size: vwB(22px);
            }

            .item-heading {
                gap: vwB(12px);
            }

            .item-icon {
                width: vwB(28px);
                height: vwB(32px);
            }

            .item-text {
                margin-top: vwB(40px);
            }
        }
    }
}

@include maxw($desktop) {
    .our-programs {
        padding-top: vwD(500px);
        margin-top: vwD(-500px);

        .our-programs__dec {
            padding-top: vwD(500px);

            span {
                max-width: vwD(1920px);

                &::before {
                    top: vwD(-498px);
                    right: vwD(-647px);
                    width: vwD(1003px);
                    height: vwD(1098px);
                }

                &::after {
                    top: vwD(573px);
                    left: vwD(-396px);
                    width: vwD(792px);
                    height: vwD(866px);
                }
            }
        }

        .our-programs__inner {
            padding: vwD(70px) 0;
        }

        .our-programs__wrapper {
            gap: vwD(82px);
        }

        .our-programs__content {
            top: vwD(150px);
            max-width: vwD(691px);
            margin-top: vwD(8px);
        }

        .our-programs__content-caption {
            margin-bottom: vwD(28px);
        }

        .our-programs__content-text {
            margin-top: vwD(28px);
        }

        .our-programs__content-button {
            margin-top: vwD(40px);
        }

        .our-programs__list {
            max-width: vwD(793px);

            .item {
                border-radius: vwD(8px);
                padding: vwD(32px);

                &:not(:first-child) {
                    margin-top: vwD(20px);
                }
            }

            .item-title {
                font-size: vwD(22px);
            }

            .item-heading {
                gap: vwD(12px);
            }

            .item-icon {
                width: vwD(28px);
                height: vwD(32px);
            }

            .item-text {
                margin-top: vwD(40px);
            }
        }
    }
}

@include maxw($mobile) {
    .our-programs {
        padding-top: 0;
        margin-top: 0;

        .our-programs__dec {
            display: none;
        }

        .our-programs__inner {
            position: relative;
            z-index: 2;
            padding: vwM(50px) 0 vwM(150px);
        }

        .our-programs__wrapper {
            flex-direction: column;
            gap: vwM(36px);
        }

        .our-programs__content {
            position: static;
            margin: 0;
            max-width: 100%;

            br {
                display: none;
            }
        }

        .our-programs__content-caption {
            text-align: center;
            margin-bottom: vwM(8px);
        }

        .our-programs__content-title {
            text-align: center;
        }

        .our-programs__content-text {
            margin-top: vwM(28px);
        }

        .our-programs__content-button {
            margin: 0;
            position: absolute;
            left: 0;
            bottom: vwM(50px);
            width: 100%;
            padding: 0 vwM(16px);

            .default-button {
                width: 100%;
            }
        }

        .our-programs__list {
            width: 100%;
            max-width: 100%;

            .item {
                border: 1px solid rgba(255, 255, 255, 0.16);
                border-radius: vwM(8px);
                padding: vwM(32px) vwM(24px);

                &:not(:first-child) {
                    margin-top: vwM(24px);
                }
            }

            .item-title {
                font-size: vwM(20px);
                letter-spacing: -0.03em;
            }

            .item-heading {
                gap: vwM(10px);
            }

            .item-icon {
                width: vwM(21px);
                height: vwM(24px);
            }

            .item-text {
                margin-top: vwM(24px);
            }
        }
    }
}