.section-content {
    overflow: hidden;

    .section-content__inner {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 106px 0 260px;
    }

    .section-content__shadows {
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;
        overflow: visible;
    }

    .section-content__shadow {
        position: absolute;
        top: 0;
        width: 810px;
        height: 886px;
        background: url(../images/shadow-10.webp) no-repeat center / cover;

        &.is-left {
            left: -391px;
        }

        &.is-right {
            right: -485px;
        }

        &:nth-child(1) {
            top: 6px;
        }

        &:nth-child(2) {
            top: 672px;
        }

        &:nth-child(3) {
            top: 1356px;
        }

        &:nth-child(4) {
            top: 2022px;
        }

        &:nth-child(5) {
            top: 2959px;
        }
    }

    .section-content__wrapper {
        position: relative;
        z-index: 2;
        width: 768px;
        margin: 0 auto;
    }

    .section-content__title {
        text-align: center;
    }

    .section-content__subtitle {
        margin-top: 32px;
        font-weight: 400;
        line-height: 1.2;
        font-size: 20px;
        text-align: center;
        letter-spacing: -0.03em;
        color: rgba(255, 255, 255, 0.7);
    }

    .section-content__block {
        margin-top: 50px;
    }
}

@include maxw($desktop) {
    .section-content {
        .section-content__inner {
            max-width: vwD(1920px);
            padding: vwD(106px) 0 vwD(260px);
        }

        .section-content__shadow {
            width: vwD(810px);
            height: vwD(886px);

            &.is-left {
                left: vwD(-391px);
            }

            &.is-right {
                right: vwD(-485px);
            }

            &:nth-child(1) {
                top: vwD(6px);
            }

            &:nth-child(2) {
                top: vwD(672px);
            }

            &:nth-child(3) {
                top: vwD(1356px);
            }

            &:nth-child(4) {
                top: vwD(2022px);
            }

            &:nth-child(5) {
                top: vwD(2959px);
            }
        }


        .section-content__wrapper {
            width: vwD(768px);
        }

        .section-content__subtitle {
            margin-top: vwD(32px);
            font-size: vwD(20px);
        }

        .section-content__block {
            margin-top: vwD(50px);
        }
    }
}

@include maxw($mobile) {
    .section-content {
        .section-content__inner {
            max-width: 100%;
            padding: vwM(72px) 0 0;
        }

        .section-content__shadow {
            width: vwM(638px);
            height: vwM(680px);

            &.is-left {
                left: vwM(-280px);
            }

            &.is-right {
                right: vwM(-350px);
            }

            &:nth-child(1) {
                top: vwM(100px);
            }

            &:nth-child(2) {
                top: vwM(1350px);
            }

            &:nth-child(3) {
                top: vwM(2700px);
            }

            &:nth-child(4) {
                top: vwM(3740px);
            }

            &:nth-child(5) {
                top: auto;
                bottom: vwM(100px);
            }
        }
   

        .section-content__wrapper {
            width: 100%;
        }

        .section-content__subtitle {
            margin-top: vwM(24px);
            font-size: vwM(18px);
            letter-spacing: -0.02em;
        }

        .section-content__block {
            margin-top: vwM(48px);
        }
    }
}