.services {
    overflow: hidden;
    padding-top: 406px;
    margin-top: -406px;

    &.is-two {
        .services__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .services__inner {
        padding: 70px 0;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -406px;
            left: -585px;
            width: 1447px;
            height: 1527px;
            background: url(../images/shadow-6.webp) no-repeat center/contain;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: -358px;
            right: -615px;
            width: 1307px;
            height: 1396px;
            background: url(../images/shadow-7.webp) no-repeat center/contain;
        }
    }

    .services__top {
        margin-bottom: 50px;
        text-align: center;
    }

    .services__caption {
        margin-bottom: 28px;
    }

    .services__title {}

    .services__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.16);

        .item {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 32px;
            border-right: 1px solid rgba(255, 255, 255, 0.16);

            @include minw($mobile) {
                &:last-child {
                    border-right: none;
                }
            }
        }

        .item-title {
            font-weight: 400;
            line-height: 1.22;
            font-size: 22px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            margin-bottom: 28px;
        }

        .item-text {
            margin-bottom: 28px;
        }

        .item-button {
            margin-top: auto;

            a:not(.default-button) {
                font-weight: 400;
                line-height: 1.22;
                font-size: 18px;
                letter-spacing: -0.03em;
                color: #F4EFE7;
                position: relative;
                z-index: 2;

                @include link-hover-underline-reverse(#F4EFE7);
            }
        }
    }

    .services__button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .services {
        padding-top: vwB(406px);
        margin-top: vwB(-406px);

        .services__inner {
            max-width: vwB(1920px);
            padding: vwB(70px) 0;

            &::before {
                top: vwB(-406px);
                left: vwB(-585px);
                width: vwB(1447px);
                height: vwB(1527px);
            }

            &::after {
                top: vwB(-358px);
                right: vwB(-615px);
                width: vwB(1307px);
                height: vwB(1396px);
            }
        }

        .services__top {
            margin-bottom: vwB(50px);
        }

        .services__caption {
            margin-bottom: vwB(28px);
        }

        .services__list {
            border-radius: vwB(8px);

            .item {
                padding: vwB(32px);
            }

            .item-title {
                font-size: vwB(22px);
                margin-bottom: vwB(28px);
            }

            .item-text {
                margin-bottom: vwB(28px);
            }

            .item-button {
                a {
                    font-size: vwB(18px);
                }
            }
        }

        .services__button {
            margin-top: vwB(30px);
        }
    }
}

@include maxw($desktop) {
    .services {
        padding-top: vwD(406px);
        margin-top: vwD(-406px);

        .services__inner {
            max-width: vwD(1920px);
            padding: vwD(70px) 0;

            &::before {
                top: vwD(-406px);
                left: vwD(-585px);
                width: vwD(1447px);
                height: vwD(1527px);
            }

            &::after {
                top: vwD(-358px);
                right: vwD(-615px);
                width: vwD(1307px);
                height: vwD(1396px);
            }
        }

        .services__top {
            margin-bottom: vwD(50px);
        }

        .services__caption {
            margin-bottom: vwD(28px);
        }

        .services__list {
            border-radius: vwD(8px);

            .item {
                padding: vwD(32px);
            }

            .item-title {
                font-size: vwD(22px);
                margin-bottom: vwD(28px);
            }

            .item-text {
                margin-bottom: vwD(28px);
            }

            .item-button {
                a {
                    font-size: vwD(18px);
                }
            }
        }

        .services__button {
            margin-top: vwD(30px);
        }
    }
}

@include maxw($mobile) {
    .services {
        margin: 0;
        padding: 0;

        .services__inner {
            padding: vwM(50px) 0;
            max-width: 100%;

            &::before {
                top: vwM(-400px);
                left: auto;
                right: vwM(-350px);
                width: vwM(621px);
                height: vwM(680px);
            }

            &::after {
                display: none;
            }
        }

        .services__top {
            text-align: center;
        }

        .services__caption {
            margin-bottom: vwM(8px);
        }

        .services__list {
            grid-template-columns: 1fr;
            align-items: flex-start;
            grid-gap: vwM(24px);
            border-radius: 0;
            border: none;

            .item {
                padding: vwM(32px) vwM(24px);
                border-radius: vwM(8px);
                border: 1px solid rgba(255, 255, 255, 0.16);
            }

            .item-title {
                font-size: vwM(20px);
                letter-spacing: -0.03em;
                margin-bottom: vwM(24px);
            }

            .item-text {
                margin-bottom: vwM(24px);
            }

            .item-button {
                a {
                    font-size: vwM(18px);
                }
            }
        }

        .services__button {
            width: 100%;
            margin-top: vwM(36px);
            .default-button {
                width: 100%;
            }
        }
    }
}