.story {
    position: relative;
    z-index: 2;
    padding-top: 577px;
    margin-top: -577px;

    .story__shadows {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 577px;
        overflow: hidden;
        pointer-events: none;

        span {
            display: block;
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            height: 100%;
        }

        .dec-shadow {
            position: absolute;
            z-index: -1;
            width: 1087px;
            height: 1167px;
            background: url(../images/shadow-11.webp) no-repeat center / contain;

            &:nth-child(1) {
                top: -577px;
                right: -713px;
            }

            &:nth-child(2) {
                top: 423px;
                left: -546px;
            }

            &:nth-child(3) {
                top: 465px;
                right: -713px;
            }

            &:nth-child(4) {
                top: 1741px;
                right: -725px;
            }

            &:nth-child(5) {
                top: 2653px;
                left: -546px;
            }

            &:nth-child(6) {
                top: 3574px;
                right: -670px;
            }

            &:nth-child(7) {
                top: 3929px;
                left: -558px;
            }
        }
    }

    .story__inner {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        padding:  70px 0;
    }

    .story__top {
        text-align: center;
        margin-bottom: 112px;
    }

    .story__caption {
        margin-bottom: 28px;
    }

    .site-caption {}

    .story__title {}

    .story__wrapper {
        position: relative;
        z-index: 2;
    }

    .story__dec {
        position: absolute;
        z-index: 3;
        top: -80px;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: calc(100% - var(--heightLastItem) + 80px);

        img {
            position: sticky;
            top: 50vh;
            width: 88px;
            height: 104px;
            margin: 0 auto;
            object-fit: contain;
        }
    }

    .story__list {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 2px;
            height: calc(100% + 60px);
            background: linear-gradient(
                to bottom,
                rgba(218, 31, 38, 0) 0%,
                #DA1F26 15%,
                #DA1F26 80%,
                rgba(218, 31, 38, 0) 100%
            );
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;

            &:not(:first-child) {
                margin-top: 80px;
            }

            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }

        .item-content {
            width: 458px;
        }

        .item-title {}

        .main-title {}

        .item-text {
            margin-top: 32px;
        }

        .item-image {
            width: 460px;
            height: auto;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item-dot {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #DA1F26;
        }
    }

}


@media screen and (min-width: 1921px) and (max-width: 2560px) {
    .story {
        padding-top: vwB(577px);
        margin-top: vwB(-577px);

        .story__shadows {
            padding-top: vwB(577px);

            span {
                max-width: vwB(1920px);
            }

            .dec-shadow {
                width: vwB(1087px);
                height: vwB(1167px);

                &:nth-child(1) {
                    top: vwB(-577px);
                    right: vwB(-713px);
                }

                &:nth-child(2) {
                    top: vwB(423px);
                    left: vwB(-546px);
                }

                &:nth-child(3) {
                    top: vwB(465px);
                    right: vwB(-713px);
                }

                &:nth-child(4) {
                    top: vwB(1741px);
                    right: vwB(-725px);
                }

                &:nth-child(5) {
                    top: vwB(2653px);
                    left: vwB(-546px);
                }

                &:nth-child(6) {
                    top: vwB(3574px);
                    right: vwB(-670px);
                }

                &:nth-child(7) {
                    top: vwB(3929px);
                    left: vwB(-558px);
                }
            }
        }

        .story__inner {
            max-width: vwB(1920px);
            padding: vwB(70px) 0;
        }

        .story__top {
            margin-bottom: vwB(112px);
        }

        .story__caption {
            margin-bottom: vwB(28px);
        }

        .story__dec {
            top: vwB(-80px);
            height: calc(100% - var(--heightLastItem) + vwB(80px));
    
            img {
                width: vwB(88px);
                height: vwB(104px);
            }
        }

        .story__list {
            width: vwB(1200px);

            &::before {
                width: 2px;
                height: calc(100% + vwB(60px));
            }

            .item {
                &:not(:first-child) {
                    margin-top: vwB(80px);
                }
            }

            .item-content {
                width: vwB(458px);
            }

            .item-text {
                margin-top: vwB(32px);
            }

            .item-image {
                width: vwB(460px);
                border-radius: vwB(8px);
            }

            .item-dot {
                width: vwB(14px);
                height: vwB(14px);
            }
        }

    }
}

@include maxw($desktop) {
    .story {
        padding-top: vwD(577px);
        margin-top: vwD(-577px);

        .story__shadows {
            padding-top: vwD(577px);

            span {
                max-width: vwD(1920px);
            }

            .dec-shadow {
                width: vwD(1087px);
                height: vwD(1167px);

                &:nth-child(1) {
                    top: vwD(-577px);
                    right: vwD(-713px);
                }

                &:nth-child(2) {
                    top: vwD(423px);
                    left: vwD(-546px);
                }

                &:nth-child(3) {
                    top: vwD(465px);
                    right: vwD(-713px);
                }

                &:nth-child(4) {
                    top: vwD(1741px);
                    right: vwD(-725px);
                }

                &:nth-child(5) {
                    top: vwD(2653px);
                    left: vwD(-546px);
                }

                &:nth-child(6) {
                    top: vwD(3574px);
                    right: vwD(-670px);
                }

                &:nth-child(7) {
                    top: vwD(3929px);
                    left: vwD(-558px);
                }
            }
        }

        .story__inner {
            max-width: vwD(1920px);
            padding: vwD(70px) 0;
        }

        .story__top {
            margin-bottom: vwD(112px);
        }

        .story__caption {
            margin-bottom: vwD(28px);
        }

        .story__dec {
            top: vwD(-80px);
            height: calc(100% - var(--heightLastItem) + vwD(80px));
    
            img {
                width: vwD(88px);
                height: vwD(104px);
            }
        }

        .story__list {
            width: vwD(1200px);

            &::before {
                width: 2px;
                height: calc(100% + vwD(60px));
            }

            .item {
                &:not(:first-child) {
                    margin-top: vwD(80px);
                }
            }

            .item-content {
                width: vwD(458px);
            }

            .item-text {
                margin-top: vwD(32px);
            }

            .item-image {
                width: vwD(460px);
                border-radius: vwD(8px);
            }

            .item-dot {
                width: vwD(14px);
                height: vwD(14px);
            }
        }

    }
}

@include maxw($mobile) {
    .story {
        padding-top: vwM(577px);
        margin-top: vwM(-577px);

        .story__shadows {
            padding-top: vwM(577px);

            span {
                max-width: 100%;
            }

            .dec-shadow {
                width: vwM(447px);
                height: vwM(490px);

                &:nth-child(1) {
                    top: vwM(-11px);
                    right: vwM(-273px);
                }

                &:nth-child(2) {
                    top: vwM(1116px);
                    left: vwM(-209px);
                }

                &:nth-child(3) {
                    top: vwM(2688px);
                    right: vwM(-273px);
                }

                &:nth-child(4) {
                    top: vwM(3467px);
                    right: vwM(-273px);
                }

                &:nth-child(5) {
                    top: vwM(3820px);
                    left: vwM(-210px);
                }

                &:nth-child(6) {
                    display: none;
                }

                &:nth-child(7) {
                    top: vwM(4995px);
                    left: vwM(-210px);
                }
            }
        }

        .story__inner {
            max-width: 100%;
            padding: vwM(50px) 0;
        }

        .story__top {
            margin-bottom: vwM(75px);
        }

        .story__caption {
            margin-bottom: vwM(8px);
        }

        .story__dec {
            top: vwM(-138px);
            height: calc(100% - var(--heightLastItemMobile) + vwM(138px));
    
            img {
                top: vwM(100px);
                width: vwM(48px);
                height: vwM(57px);
                margin: 0 0 0 vwM(7px);
            }
        }

        .story__list {
            width: 100%;
            padding-left: vwM(58px);

            &::before {
                left: vwM(30px);
                transform: translateX(0);
                bottom: 0;
                width: 1px;
                height: calc(100% + vwM(118px));
            }

            .item {
                display: block;

                &:not(:first-child) {
                    margin-top: vwM(40px);
                }
            }

            .item-content {
                width: 100%;
            }

            .item-text {
                margin-top: vwM(8px);
            }

            .item-image {
                margin-top: vwM(24px);
                width: 100%;
                border-radius: vwM(8px);
            }

            .item-dot {
                top: vwM(18px);
                left: vwM(-33px);
                transform: none;
                width: vwM(11px);
                height: vwM(11px);
            }
        }

    }
}